# ignore downloaded models
/models/*
!models/manifest.json

# Python artifacts
__pycache__/
*.py[cod]
*.so
.env
*.log

# Conda env files (we keep the yml, but ignore env directories)
/envs/*.lock

# Ignore all files in db/ except .sql files
/db/*
!db/*.sql

# Ignore common database files anywhere
*.sqlite
*.db
*.db-journal
